extends layout
block headertitle
    |Basketball
block content
    link(rel='stylesheet', href='/stylesheets/basketball.css')
    .wrapper
        .top
          .top-wrapper
              .top-left
                  h3.teamname CHE.
                  img(src="../images/solid_arrow.png", width="65")
                  h5.score 89
                  img(src="../images/border_arrow.png", width="65")
              .top-middle
                  img.ball(src="../images/basketball.png")
              .top-right
                  h3.teamname OKC.
                  img(src="../images/solid_arrow.png", width="65")
                  h5.score 67
                  img(src="../images/border_arrow.png", width="65")
        .bottom
          .bottom-wrapper
              .person
                  h4.name Derek D.
                  .fouls
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 3
                      p Reb.
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .points
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 12
                      p Points
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .assits
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 3
                      p Assits
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .steals
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 5
                      p Steals
                      img.arrow2(src="../images/border_arrow.png", width="40")
              .person
                  h4.name David A.
                  .fouls
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 3
                      p Reb.
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .points
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 12
                      p Points
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .assits
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 3
                      p Assits
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .steals
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 5
                      p Steals
                      img.arrow2(src="../images/border_arrow.png", width="40")
              .person
                  h4.name Tanner F.
                  .fouls
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 3
                      p Reb.
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .points
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 12
                      p Points
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .assits
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 3
                      p Assits
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .steals
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 5
                      p Steals
                      img.arrow2(src="../images/border_arrow.png", width="40")
              .person
                  h4.name Caleb S.
                  .fouls
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 3
                      p Reb.
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .points
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 12
                      p Points
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .assits
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 3
                      p Assits
                      img.arrow2(src="../images/border_arrow.png", width="40")
                  .steals
                      img.arrow1(src="../images/solid_arrow.png", width="40")
                      h6.record= 5
                      p Steals
                      img.arrow2(src="../images/border_arrow.png", width="40")