.header {
  border: none;
}

.top {
  background-color: #ffb300;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFB300', endColorstr='#FF8ADBF2');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjMwMCIvPjxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjZmNkYzljIi8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmZmM3NDQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWRiZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffb300), color-stop(39%, #fcdc9c), color-stop(70%, #ffc744), color-stop(100%, #8adbf2));
  background-image: -webkit-linear-gradient(left, #ffb300 0%, #fcdc9c 39%, #ffc744 70%, #8adbf2 100%);
  background-image: -moz-linear-gradient(left, #ffb300 0%, #fcdc9c 39%, #ffc744 70%, #8adbf2 100%);
  background-image: -o-linear-gradient(left, #ffb300 0%, #fcdc9c 39%, #ffc744 70%, #8adbf2 100%);
  background-image: linear-gradient(left, #ffb300 0%, #fcdc9c 39%, #ffc744 70%, #8adbf2 100%);
  padding: 10% 14px;
  text-align: center;
}
.top .team {
  display: inline;
}
.top .name {
  font: 1.3em 'Montserrat';
}
.top .divide {
  padding: 3% 0;
}
.top p {
  display: inline;
  font: 2em 'Novecento Wide';
}
.top h5 {
  display: inline;
  font: 2.5em 'Novecento Wide Bold';
}
.top .home {
  padding-right: 25px;
}
.top .away {
  padding-left: 25px;
}

.middle {
  position: relative;
}
.middle .middle-wrap {
  padding: 10% 8%;
}
.middle [class^="section"] {
  text-align: center;
  position: relative;
  padding-bottom: 120px;
}
.middle [class^="a-"] {
  text-align: center;
  float: left;
  width: 33.3333%;
}
.middle [class^="a-"] h6 {
  font: 1.7em 'Bebas Neue';
}
.middle [class^="a-"] p {
  font: 0.6em 'Novecento Wide';
  padding-bottom: 6%;
}
.middle [class^="a-"] img {
  padding: 20px;
  margin: -20px;
}
.middle [class^="a-"] img:hover {
  opacity: 0.7;
}

.p-points, .p-content {
  display: none;
}

.p-points {
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}

.p-content {
  overflow: hidden;
  position: absolute;
}

.option {
  float: left;
  word-break: break-word;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  color: #e1e1e1;
  display: table;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.option:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}
.option p {
  padding: 10px;
  font: 1.3em 'Novecento Wide Bold';
  display: table-cell;
  vertical-align: middle;
}
