@import "compass";
.header {
    border: none;
}
.top {
    background-color: #ffb300; // Old browsers
    @include filter-gradient(#ffb300, #8adbf2, horizontal); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(left,  #ffb300 0%,#fcdc9c 39%,#ffc744 70%,#8adbf2 100%));

    padding: 10% 14px;
    text-align: center;
    .team {
        display: inline;
    }
    .name {
        font: 1.3em 'Montserrat';
    }
    .divide {
        padding: 3% 0;
    }
    p {
        display: inline;
        font: 2em 'Novecento Wide';
    }
    h5 {
        display: inline;
        font: 2.5em 'Novecento Wide Bold';
    }
    $paddingsize: 25px;
    .home {
        padding-right: $paddingsize;
    }
    .away {
        padding-left: $paddingsize;
    }
}
.middle {
    position: relative;
    .middle-wrap {
        padding: 10% 8%;
    }
    [class^="section"] {
        text-align: center;
        position: relative;
        padding-bottom: 120px;
    }
    [class^="a-"] {
        text-align: center;
        float: left;
        width: 33.3333%;
        h6 {
            font: 1.7em 'Bebas Neue';
        }
        p {
            font: 0.6em 'Novecento Wide';
            padding-bottom: 6%;
        }
        img {
            padding: 20px; margin: -20px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.p-points, .p-content {
    display: none;
}
.p-points {
    overflow: hidden;
    width: 100%;
    top: 0; left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}
.p-content {
    overflow: hidden;
    // width: 100%;
    position: absolute;
}
.p-wrap {
    // padding: 10%;
}
.option {
    float: left;
    word-break: break-word;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    color: #e1e1e1;
    display: table;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.6);
    }
    p {
        padding: 10px;
        font: 1.3em 'Novecento Wide Bold';
        display: table-cell;
        vertical-align: middle;
    }
}
