.header {
  border: none;
}

.top {
  background-color: #ffb300;
  background: url(../images/basketball.png) no-repeat bottom;
  background-position: -20% 160%;
  background-size: 30%;
  border-bottom: 1px solid #ccc;
  padding: 10% 14px;
  text-align: center;
}
.top .team {
  display: inline;
}
.top .name {
  font: 1.3em 'Montserrat';
}
.top .divide {
  padding: 3% 0;
}
.top p {
  display: inline;
  font: 1em 'Montserrat';
}
.top h5 {
  display: inline;
  font: 200 2.5em 'Novecento Wide';
}
.top .home {
  padding-right: 25px;
}
.top .away {
  padding-left: 25px;
}

.middle {
  position: relative;
}
.middle .middle-wrap {
  padding: 10% 8%;
}
.middle [class^="section"] {
  text-align: center;
  position: relative;
  padding-bottom: 120px;
}
.middle [class^="a-"] {
  text-align: center;
  float: left;
  width: 33.3333%;
}
.middle [class^="a-"] h6 {
  font: 1.7em 'Bebas Neue';
}
.middle [class^="a-"] p {
  font: 0.6em 'Novecento Wide';
  padding-bottom: 6%;
}
.middle [class^="a-"] img {
  cursor: pointer;
  padding: 20px;
  margin: -20px;
}
.middle [class^="a-"] img:hover {
  opacity: 0.7;
}

.p-points, .p-content {
  display: none;
}

.p-points {
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}

.p-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  position: absolute;
}

.p-wrap {
  width: 101%;
}

.option {
  float: left;
  word-break: break-word;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  color: #e1e1e1;
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.option:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}
.option p {
  padding: 10px;
  font: 1.3em 'Novecento Wide Bold';
  display: table-cell;
  vertical-align: middle;
}

.option:after {
  content: '';
  display: inline-block;
  width: 100%;
}
